<!DOCTYPE html>
<html>
<head>
  <title>Redirection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "homepage_partners", homepage_partners_path %> <br \>
<%= link_to "primarypage_firstmethod", primarypage_firstmethod_path %> <br \>


<%= yield %>

</body>
</html>
